@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

div.blog-card {
  transition: all .3s ease-in-out;
}

div.blog-card:hover {
  box-shadow: 0px 0px 10px rgba(218, 218, 218, .4);
  transform: scale(1.02);
}